@import "../../styles/variables";

.button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 36px;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  color: $mountain-mist-50;
  background-color: $mountain-mist-600;
  cursor: pointer;
  border: none;
}

.button:active {
  background-color: $mountain-mist-700;
}
