$mountain-mist-50: #f7f6f6;
$mountain-mist-100: #f0efef;
$mountain-mist-200: #e3e2e2;
$mountain-mist-300: #d2cfd1;
$mountain-mist-400: #bebbbc;
$mountain-mist-500: #aca8a9;
$mountain-mist-600: #999495;
$mountain-mist-700: #837f80;
$mountain-mist-800: #6b6869;
$mountain-mist-900: #595657;
$mountain-mist-950: #343233;
